 <!-- form handling -->
 <form action="/api/registrations" method="POST" id="add_registration">
    <div class="new_registration">
        <div class="form-group">
            <label for="brandName" class="text-light">Brand Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="brandName" value="" placeholder="Investr">
        </div>
        <div class="form-group">
            <label for="productName" class="text-light">Product Name</label>
            <input type="text" name="productName" value="" placeholder="ABC">
        </div>
        <div class="form-group">
            <label for="aboutBrand" class="text-light">About Brand [250 characters]</label>
            <input type="text" name="aboutBrand" value="" placeholder="Description ..">
        </div>
        <div class="form-group">
            <label for="aboutProduct" class="text-light">About Product [250 characters]</label>
            <input type="text" name="aboutProduct" value="" placeholder="Description ..">
        </div>
        <div class="form-group">
            <label for="productType" class="text-light">Product Type</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="productType" value="Consumable" >
                <label for="radio-2" class="radio-label">Consumable</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="productType" value="Non-Consumable" >
                <label for="radio-3" class="radio-label">Non-Consumable</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>